<template>
    <div class="Home">
        <AppBar/>
        <v-main class="ma-10">
            <Dashboard/>
        </v-main>
    </div>
</template>

<script>
    import AppBar from '../components/AppBar';
    import Dashboard from "../components/Dashboard";

    export default {
        name: 'Home',
        components: {
            AppBar,
            Dashboard
        }
    }
</script>

<style lang="scss">
    .Home {
        .v-app-bar {
            h2 {
                text-transform: uppercase;
            }
        }
    }
</style>
