<template>
    <v-app-bar class="AppBar elevation-2" app height="135">
        <v-img @click="$router.currentRoute.name !== 'home' ? $router.push({ path: 'home' }) : null"
               :src="require('../assets/logo.png')" class="my-3"
               contain height="125"/>
        <v-spacer></v-spacer>
        <v-btn text>
            <LocaleChanger/>
        </v-btn>
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" icon @click="toggleThemeDarkMode">
                    <v-icon :style="{transform: `rotate(${$vuetify.theme.dark ? 0 : -190 }deg)`}">
                        {{ icons.mdiThemeLightDark }}
                    </v-icon>
                </v-btn>
            </template>
            <span>{{ $t(($vuetify.theme.dark ? 'light' : 'dark') + 'Mode') }}</span>
        </v-tooltip>
    </v-app-bar>
</template>

<script>
    import LocaleChanger from '../components/LocaleChanger';
    import {mdiThemeLightDark} from "@mdi/js";

    export default {
        name: 'AppBar',
        components: {
            LocaleChanger
        },
        data() {
            return {
                icons: {mdiThemeLightDark}
            }
        },
        methods: {
            toggleThemeDarkMode() {
                this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            }
        }
    }
</script>

<style lang="scss">
    .AppBar {
        h2 {
            cursor: pointer;
            text-transform: uppercase;
        }
        .v-image__image {
            background-position: left !important;
        }
    }
</style>
