<template>
    <v-card>
        <v-card-title>
            <v-text-field
                    @input="debounceInput"
                    v-model="search"
                    append-icon="mdi-magnify"
                    :label="$t('animalSearch')"
                    single-line
                    hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-text-field
                    @input="debounceInput"
                    v-model="price.min"
                    append-icon="mdi-magnify"
                    :label="$t('minPrice')"
                    single-line
                    hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-text-field
                    @input="debounceInput"
                    v-model="price.max"
                    append-icon="mdi-magnify"
                    :label="$t('maxPrice')"
                    single-line
                    hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :loading="loading"
                :options.sync="options"
                :headers="headers"
                :items="animals"
                :footer-props="{itemsPerPageOptions: [10, 25, 50, 100, 200]}"
                :server-items-length="animalsTotalCount"
        >
            <template #item.price="{ item }">
                {{ item.price ? `${item.price.toFixed(2)}€` : '' }}
            </template>
            <template #item.actions="{ item }">
                <v-btn
                        @click="incrementClick(item.id)"
                        text
                        color="primary"
                        :href="`https://www.leboncoin.fr/animaux/${item.externalId}.htm/`"
                        target="_blank"
                >
                    {{ $t('show') }}
                </v-btn>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    import {debounce} from "debounce";

    export default {
        name: "Dashboard",

        data() {
            return {
                loading: true,
                search: null,
                price: {
                    min: null,
                    max: null
                },
                animals: [],
                animalsTotalCount: -1,
                options: {
                    sortBy: ['price'],
                    sortDesc: [true]
                },
                headers: [
                    {text: this.$t('title'), value: 'title', sortable: false},
                    {text: this.$t('location'), value: 'location', sortable: false},
                    {text: this.$t('price'), value: 'price'},
                    {text: this.$t('Actions'), value: 'actions', sortable: false},
                ]
            }
        },

        watch: {
            options: {
                handler() {
                    this.getAnimalsFromApi();
                },
                deep: true,
            },

        },

        methods: {
            debounceInput: debounce(function () {
                this.getAnimalsFromApi();
            }, 250),

            getAnimalsFromApi() {
                const {page, itemsPerPage, sortBy, sortDesc} = this.options;

                const url = new URL('http://localhost:8000/api/animals');
                url.searchParams.append('page', page);
                url.searchParams.append('itemsPerPage', itemsPerPage);

                if (sortBy) {
                    url.searchParams.append(`order[${sortBy}]`, sortDesc ? 'desc' : 'asc');
                }

                if (this.search) {
                    url.searchParams.append(`title`, this.search);
                }

                if (this.price.min) {
                    url.searchParams.append(`price[gte]`, this.price.min);
                }

                if (this.price.max) {
                    url.searchParams.append(`price[lte]`, this.price.max);
                }

                this.loading = true;
                this.$http.get(url.toString())
                    .then(response => {
                        this.animals = response.data['hydra:member'];
                        this.animalsTotalCount = response.data['hydra:totalItems'];
                    }).finally(() => {
                    this.loading = false;
                })
            },

            incrementClick(animalId) {
                const url = new URL(`http://localhost:8000/animals/${animalId}/click`);
                this.$http.post(url.toString());
            }
        },
    }
</script>
